@model WebEngineering.Models.ProduktViewModel

@{
    ViewData["Title"] = "Inventory History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Product Inventory History</h1>

<div id="areaChart" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawAreaChart);

    function drawAreaChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Bestand');

        // Retrieve the datapoints from the ViewModel
        var viewModel = @Html.Raw(Json.Serialize(Model));
        var datapoints = viewModel.datapoints;
        console.log(datapoints);

        // Add data to the chart
        for (var i = 0; i < datapoints.length; i++) {
            var date = new Date(datapoints[i].date);
            var bestand = datapoints[i].bestand;
            data.addRow([date, bestand]);
            console.log(date + bestand)
        }

        var options = {

            title: viewModel.produkt.name,
            hAxis: {
                title: 'Date',
                format: "MMM ''yy" 
            },
            vAxis: {
                title: 'Bestand'
            },
            chartArea: {
                width: '80%',
                height: '70%'
            },
            legend: {
                position: 'none'
            },
            series: {
                0: { color: '#4285F4' } 
            },
            areaOpacity: 0.7 
        };

        var chart = new google.visualization.AreaChart(document.getElementById('areaChart'));
        chart.draw(data, options);
    }
</script>
